@font-face {
    font-family: specialElite;
    src: url(/src/fonts/SpecialElite-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(/src/fonts/Roboto-Regular.ttf);
}

:root {
    --font-stack: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    box-sizing: border-box;
    font-family: var(--font-stack);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 35px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: black;
    width: 1rem;
    height: 1rem;
    border: 0.15rem solid black;
    border-radius: 0.15em;
    position: relative;
  }

input[type="checkbox"]::before {
    position: absolute;
    width: 0.55rem;
    height: 0.55rem;
    visibility: hidden;
}


input[type="checkbox"]:checked::before {
    visibility: visible;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: calc(100vh - 70px);
}

nav {
   display: flex; 
   flex-direction: column;
}

.start {
    height: 100%
}

.end {
    margin-top: auto;
}

article {
    display: grid;
    grid-template-rows: min-content 1fr;
    border: 2px solid #D6AD29;
}

.project-heading {
    display: flex;
    flex-direction: column;
}

.project-heading div {
    display: flex;
    border-bottom: #D6AD29 solid 2px;
}

article h1 {
    /* Check this styling against the form version */
    display: inline-flex;
    border: solid #D6AD29 2px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 2px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 20px;
    font-family: specialElite, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.2rem;
    margin-left: 10px;
}

article h1:hover, button:hover {
    cursor: pointer;
    outline: #D6AD29 solid;
}

button {
    appearance: none;
    height: fit-content;
}

article button {
    margin-left: auto;
}

.add-todo-button {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 7px 15px;
    color: #D6AD29;
    background-color: transparent;
    border-color: #D6AD29;
    border-style: solid;
    border-right: 2px;
    border-top: 2px;
}

.workbook-area {
    display: flex;
    flex-direction: column;
    border-left: #2952D6 solid 2px;
    margin-left: 80px;
}

.sort-menu-container {
    display: flex;
}

.sort-menu {
    display: relative;
    margin-left: auto;
}

.sort-menu-button {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 7px 15px;
    color: black;
    background-color: transparent;
    border-color: #D6AD29;
    border-style: solid;
    border-right: 2px;
    border-top: 2px;
    margin-left: auto;
    display: relative;
}

.todo-item {
    border-bottom: #2952D6 solid 1px;
    display: grid;
    grid-template-areas: "checkbox information"
                            ". view"
                            "arrow checklist";
    grid-template-columns: min-content 1fr;
    justify-content: start;
    height: 100px;
    min-height: fit-content;
    font-size: 1.1rem;
}

.complete-button {
    align-self: start;
    margin-top: 2px;
}

input[type="checkbox"].complete-button::before{
    box-shadow: inset 1rem 1rem #D6AD29;
    content: "";
    left: 0.1rem;
    top: 0.1rem;
}

input[type="checkbox"].todo-checklist::before{
    content: "x";
    font-size: 1rem;
    left: 0.1rem;
    top: -0.2rem;
}

.info {
    grid-area: information;
    display: flex;
}

.todo-item .due-date {
    margin-left: auto;
}

.view-button {
    grid-area: view;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 7px 15px;
    color: #D6AD29;
    background-color: transparent;
    border: 2px, #D6AD29, solid;
}

.checklist-section {
    grid-area: checklist;
    max-height: 3lh;
    overflow: auto;
}

input[type="checkbox"].complete-button::before{
    box-shadow: inset 1rem 1rem #D6AD29;
    content: "";
}

.todo-item img {
    align-self: start;
    grid-area: arrow;
}

.context-menu {
    display: none;
}

.context-menu.show {
    display: block;
    position: absolute;
    z-index: 1000;
    border: black 1px solid;
}

.space {
    height: 60px;
}

.dragging {
    opacity: 0.5;
}

.sort-menu ul {
    display: none;
    position: absolute;
    z-index: 1000;
    border: black 1px solid;
}

/* Check for all the classes in js that have to style */